@keyframes crescer {
    from {
        transform: scale(0);
    } 
    to {

    }
}

@keyframes abrirPorta {
    from {

    }
    to {
        left: -10px;
        transform: rotateY(-90deg);
        /* width: 10px; */
    }
}